﻿@model PetaPoco.Page<BookStoreConnection.AspNetUser>

@{
    ViewBag.Title = "DSU";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<h2 style="text-align:center;color:red; font-weight:bold">DANH SÁCH USER</h2>
<table class="table">
    <tr style="background-color: #5BC0DE; color:white">
        <th>
            @Html.DisplayName("UserName")
        </th>


        <th>
            @Html.DisplayName("Discriminator")
        </th>
        <th>
            @Html.DisplayName("FirstName")
        </th>
        <th>
            @Html.DisplayName("LastName")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.Discriminator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailID)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit2", new { id = item.Id })|
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<div align="center">
    <p>
        <ul class="pagination pagination-centered">
            <li>
                @Html.ActionLink(" << Trang Đầu", "Index", new { page = 1 })
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li> <a href="?page=@i">@i</a></li>

            }
            <li>
                @Html.ActionLink(" >> Trang cuối", "Index", new { page = Model.TotalPages })
            </li>


        </ul>
    </p>
</div>