﻿@model BookStoreConnection.AspNetUserRole

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2 style="text-align:center;color:red; font-weight:bold">PHÂN QUYỀN NGƯỜI DÙNG</h2>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="control-label col-md-2"><b>@Html.DisplayName("ID người dùng")</b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserId)
                @Html.ValidationMessageFor(model => model.UserId)
            </div>
        </div>


        <div class="form-group">
            <div class="control-label col-md-2"><b>@Html.DisplayName("Quyền")</b></div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.RoleId, new List<SelectListItem>
                 { new SelectListItem { Text = "Admin", Value = "3bfc5490-01f1-42b0-9fc9-d525445cb260", Selected=true},
                   new SelectListItem { Text = "Manager", Value = "ff211076-a10a-4d33-b278-2fb539462599"},
                   new SelectListItem { Text = "Employee", Value = "2087320c-53c7-4d92-9656-c52b8b8c97a5"},
                   }, new { @class = "control-label col-ld" })
                    @Html.ValidationMessageFor(model => model.RoleId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Phân quyền" class="btn btn-danger" />
            </div>
        </div>
    </div>
    <br />
}
