﻿@model IEnumerable<BookStoreConnection.ViewSANPHAM>
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2 style="color:red; font-weight:bold">THỐNG KÊ DOANH THU</h2>
<a href="~/Admin/AdminTHONGKE/Ngay" class="btn btn-default btn-lg" onclick="window.open(this.href, 'mywin',
    'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
    Ngày
</a>
<a href="~/Admin/AdminTHONGKE/Tuan" class="btn btn-primary btn-lg" onclick="window.open(this.href, 'mywin',
    'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
    Tuần
</a>
<a href="~/Admin/AdminTHONGKE/Thang" class="btn btn-success btn-lg" onclick="window.open(this.href, 'mywin',
    'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
    Tháng
</a>
<a href="~/Admin/AdminTHONGKE/Quy" class="btn btn-warning btn-lg" onclick="window.open(this.href, 'mywin',
    'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
    Quý
</a>
<a href="~/Admin/AdminTHONGKE/Nam" class="btn btn-info btn-lg" onclick="window.open(this.href, 'mywin',
    'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
    Năm
</a>
<hr/>
<h2 style="color:red; font-weight:bold">TOP 10 SÁCH BÁN CHẠY</h2>
<a href="~/Admin/AdminTHONGKE/Top10SP" class="btn btn-danger btn-lg">
    TOP 10
</a>