﻿@model IEnumerable<BookStoreConnection.ViewSANPHAM>
<div class="col-md-12">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img class="slide-image" src="~/img/banner.jpg" alt="">
            </div>
            <div class="item">
                <img class="slide-image" src="~/img/banner1.jpg" alt="">
            </div>
            <div class="item">
                <img class="slide-image" src="~/img/banner2.jpg" alt="">
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>

    <div class="row">
        <div class="aa-popular-category-area">
            <!-- start prduct navigation -->
            <ul class="nav nav-tabs aa-products-tab">
                <li><b style="color:red; font-size:20px">MỚI PHÁT HÀNH</b></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Start men popular category -->
                <div class="tab-pane fade in active">
                    <ul class="aa-product-catg aa-popular-slider">
                        <!-- start single product item -->
                        @foreach (var item in Model.Take(12))
                        {
                            <li>
                                <figure>
                                    <a class="aa-product-img" href="SANPHAM/Details/@item.MaSP"><img src="~/img/@item.HinhAnh" height="300" width="250"></a>
                                    <a class="aa-add-card-btn" href="#" onclick="AddToCart('@item.MaSP'); location.href='Cart/ShoppingCart';"><span class="fa fa-shopping-cart"></span>THÊM VÀO GIỎ HÀNG</a>
                                    <figcaption>
                                        <h4 class="aa-product-title"><a href="#">@Html.ActionLink(item.TenSP, "../SANPHAM/Details", new { id = item.MaSP })</a></h4>
                                        <span style="color:black">Giá: </span><span class="aa-product-price">@string.Format("{0:$#,###.##}", @item.Gia)</span><span style="color:black">  Giá gốc: </span><span class="aa-product-price"><del>@string.Format("{0:$#,###.##}", (double)item.Gia * 1.5)</del></span>
                                    </figcaption>
                                </figure>
                                <div class="aa-product-hvr-content">
                                    <a href="" data-toggle="tooltip" data-placement="top" title="Thích"><span class="fa fa-heart-o"></span></a>
                                    <a href="" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
                                    <a href="" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal"><span class="fa fa-search"></span></a>
                                </div>
                                <!-- product badge -->
                                <span class="aa-badge aa-hot">MỚI!</span>
                            </li>
                        }
                    </ul>
                </div>
                <!-- / popular product category -->
                <!-- start prduct navigation -->
                <ul class="nav nav-tabs aa-products-tab">
                    <li><b style="color:red; font-size:20px">BÁN CHẠY NHẤT</b></li>
                </ul>
                <!-- Start men popular category -->
                <div class="tab-pane fade in active">
                    <ul class="aa-product-catg aa-popular-slider">
                        <!-- start single product item -->
                        @foreach (var item in Model.Take(12))
                        {
                            <li>
                                <figure>
                                    <a class="aa-product-img" href="SANPHAM/Details/@item.MaSP"><img src="~/img/@item.HinhAnh" height="300" width="250"></a>
                                    <a class="aa-add-card-btn" href="#" onclick="AddToCart('@item.MaSP'); location.href='Cart/ShoppingCart';"><span class="fa fa-shopping-cart"></span>THÊM VÀO GIỎ HÀNG</a>
                                    <figcaption>
                                        <h4 class="aa-product-title"><a href="#">@Html.ActionLink(item.TenSP, "../SANPHAM/Details", new { id = item.MaSP })</a></h4>
                                        <span style="color:black">Giá: </span><span class="aa-product-price">@string.Format("{0:$#,###.##}", @item.Gia)</span><span style="color:black">  Giá gốc: </span><span class="aa-product-price"><del>@string.Format("{0:$#,###.##}", (double)item.Gia * 1.5)</del></span>
                                    </figcaption>
                                </figure>
                                <div class="aa-product-hvr-content">
                                    <a href="" data-toggle="tooltip" data-placement="top" title="Thích"><span class="fa fa-heart-o"></span></a>
                                    <a href="" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
                                    <a href="" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal"><span class="fa fa-search"></span></a>
                                </div>
                                <!-- product badge -->
                                <span class="aa-badge aa-sold-out">BÁN CHẠY!</span>
                            </li>
                        }
                    </ul>
                </div>
                <!-- / popular product category -->
                <!-- start prduct navigation -->
                <ul class="nav nav-tabs aa-products-tab">
                    <li><b style="color:red; font-size:20px">XEM NHIỀU NHẤT</b></li>
                </ul>
                <!-- Start men popular category -->
                <div class="tab-pane fade in active">
                    <ul class="aa-product-catg aa-popular-slider">
                        <!-- start single product item -->
                        @foreach (var item in Model.Take(12))
                        {
                            <li>
                                <figure>
                                    <a class="aa-product-img" href="SANPHAM/Details/@item.MaSP"><img src="~/img/@item.HinhAnh" height="300" width="250"></a>
                                    <a class="aa-add-card-btn" href="#" onclick="AddToCart('@item.MaSP'); location.href='Cart/ShoppingCart';"><span class="fa fa-shopping-cart"></span>THÊM VÀO GIỎ HÀNG</a>
                                    <figcaption>
                                        <h4 class="aa-product-title"><a href="#">@Html.ActionLink(item.TenSP, "../SANPHAM/Details", new { id = item.MaSP })</a></h4>
                                        <span style="color:black">Giá: </span><span class="aa-product-price">@string.Format("{0:$#,###.##}", @item.Gia)</span><span style="color:black">  Giá gốc: </span><span class="aa-product-price"><del>@string.Format("{0:$#,###.##}", (double)item.Gia * 1.5)</del></span>
                                    </figcaption>
                                </figure>
                                <div class="aa-product-hvr-content">
                                    <a href="" data-toggle="tooltip" data-placement="top" title="Thích"><span class="fa fa-heart-o"></span></a>
                                    <a href="" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
                                    <a href="" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal"><span class="fa fa-search"></span></a>
                                </div>
                                <!-- product badge -->
                                <span class="aa-badge aa-sale">XEM NHIỀU!</span>
                            </li>
                        }
                    </ul>
                </div>
                <!-- / popular product category -->
            </div>
        </div>
    </div>
