﻿@model PetaPoco.Page<BookStoreConnection.ViewSANPHAM>

<!-- product category -->
<section id="aa-product-category">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
                <div class="aa-product-catg-content">
                    <div class="aa-product-catg-head">
                        <div class="aa-product-catg-head-left">
                            <form action="" class="aa-sort-form">
                                <label for="">Sắp xếp</label>
                                <select name="">
                                    <option value="1" selected="1">Mặc định</option>
                                    <option value="2">Theo tên</option>
                                    <option value="3">Giá cao đến thấp</option>
                                    <option value="4">Giá thấp đến cao</option>
                                </select>
                            </form>
                        </div>
                        <div class="aa-product-catg-head-right">
                            <a id="grid-catg" href="#"><span class="fa fa-th"></span></a>
                            <a id="list-catg" href="#"><span class="fa fa-list"></span></a>
                        </div>
                    </div>
                    <div class="aa-product-catg-body">
                        <ul class="aa-product-catg">
                            <!-- start single product item -->
                            @foreach (var item in Model.Items)
                            {
                            
                            <li>
                                    <figure>
                                        <a class="aa-product-img" href="../../SANPHAM/Details/@item.MaSP"><img src="~/img/@item.HinhAnh" height="300" width="250"></a>
                                        <a class="aa-add-card-btn" href="#" onclick="AddToCart('@item.MaSP'); location.href='../../Cart/ShoppingCart';"><span class=" fa fa-shopping-cart"></span>THÊM VÀO GIỎ HÀNG</a>
                                        <figcaption>
                                            <h4 class="aa-product-title"><a href="#">@Html.ActionLink(item.TenSP, "Details", new { id = item.MaSP })</a></h4>
                                            <span style="color:black">Giá: </span><span class="aa-product-price">@string.Format("{0:$#,###.##}", @item.Gia)</span><span style="color:black">  Giá gốc: </span><span class="aa-product-price"><del>@string.Format("{0:$#,###.##}", (double)item.Gia * 1.5)</del></span>
                                        </figcaption>
                                    </figure>
                                    <div class="aa-product-hvr-content">
                                        <a href="" data-toggle="tooltip" data-placement="top" title="Thích"><span class="fa fa-heart-o"></span></a>
                                        <a href="" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
                                        <a href="" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal"><span class="fa fa-search"></span></a>
                                    </div>
                                    <!-- product badge -->
                                    <span class="aa-badge aa-sale">Giảm giá!</span>
                            </li> 
                            }

                        </ul>
                        
                    </div>
                    <div align="center">
                        <p>
                            <ul class="pagination pagination-centered">
                                <li>
                                    @Html.ActionLink(" << Trang Đầu", "Index", new { page = 1 })
                                </li>
                                @for (int i = 1; i <= Model.TotalPages; i++)
                                {
                                    <li> <a href="?page=@i">@i</a></li>

                                }
                                <li>
                                    @Html.ActionLink(" >> Trang cuối", "Index", new { page = Model.TotalPages })
                                </li>


                            </ul>
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
                <aside class="aa-sidebar">
                    <!-- single sidebar -->
                    <div class="aa-sidebar-widget">
                        <h3>Bán chạy nhất</h3>
                        <div class="aa-recently-views">
                            <ul>
                                @foreach (var item in Model.Items.Take(4).ToList())
                                {
                                    <li>
                                        <a href="#" class="aa-cartbox-img"><img alt="img" src="~/img/@item.HinhAnh"></a>
                                        <div class="aa-cartbox-info">
                                            <h4><a href="#">@item.TenSP</a></h4>
                                            <p>Giá: @item.Gia</p>
                                        </div>
                                    </li>
                                }
                            </ul>

                        </div>
                    </div>
                    <!-- single sidebar -->
                    <div class="aa-sidebar-widget">
                        <h3>Xem nhiều nhất</h3>
                        <div class="aa-recently-views">
                            <ul>
                                @foreach (var item in Model.Items.Take(4).ToList())
                                {
                                    <li>
                                        <a href="#" class="aa-cartbox-img"><img alt="img" src="~/img/@item.HinhAnh"></a>
                                        <div class="aa-cartbox-info">
                                            <h4><a href="#">@item.TenSP</a></h4>
                                            <p>Giá: @item.Gia</p>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>

        </div>
    </div>
</section>
<!-- / product category -->