﻿@model IEnumerable<BookStoreConnection.ViewSANPHAM>

@{
    ViewBag.Title = "SPLienquan";
    Layout = null;
}
<link href="~/css/theme-color/lite-blue-theme.css" rel="stylesheet" />
<link href="~/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<link href="~/css/jquery.simpleLens.css" rel="stylesheet" />
<link href="~/css/jquery.smartmenus.bootstrap.css" rel="stylesheet" />
<link href="~/css/nouislider.css" rel="stylesheet" />
<link href="~/css/sequence-theme.modern-slide-in.css" rel="stylesheet" />
<link href="~/css/slick.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />
<script src="~/js/controller/baseController.js"></script>
<script src="~/js/bootstrap-select.min.js"></script>
<script src="~/js/bootstrap.js"></script>
<script src="~/js/custom.js"></script>
<script src="~/js/jquery-1.10.2.js"></script>
<script src="~/js/jquery-ui.js"></script>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery.simpleGallery.js"></script>
<script src="~/js/jquery.simpleLens.js"></script>
<script src="~/js/jquery.smartmenus.bootstrap.js"></script>
<script src="~/js/jquery.smartmenus.js"></script>
<script src="~/js/nouislider.js"></script>
<script src="~/js/sequence-theme.modern-slide-in.js"></script>
<script src="~/js/sequence.js"></script>
<script src="~/js/slick.js"></script>


                    <div class="aa-product-related-item">
                        
                        <ul class="aa-product-catg aa-related-item-slider">
                            @foreach (var item in Model.Take(4))
                            {
                                <li>
                                    <figure>
                                        <a class="aa-product-img" href="#"><img src="~/img/@item.HinhAnh" height="300" width="250"></a>
                                        <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>THÊM VÀO GIỎ HÀNG</a>
                                        <figcaption>
                                            <h4 class="aa-product-title"><a href="~/SANPHAM/Details/@item.MaSP" target="_blank">@item.TenSP</a></h4>
                                            <span style="color:black">Giá: </span><span class="aa-product-price">@string.Format("{0:$#,###.##}", @item.Gia)</span><span style="color:black"> <br /> Giá gốc: </span><span class="aa-product-price"><del>@string.Format("{0:$#,###.##}", (double)item.Gia * 1.5)</del></span>
                                        </figcaption>
                                    </figure>
                                    <div class="aa-product-hvr-content">
                                        <a href="" data-toggle="tooltip" data-placement="top" title="Thích"><span class="fa fa-heart-o"></span></a>
                                        <a href="" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
                                        <a href="" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal"><span class="fa fa-search"></span></a>
                                    </div>
                                    <!-- product badge -->
                                    <span class="aa-badge aa-sale">Cùng loại</span>
                                </li>
                            }
                        </ul>
                    </div>


