﻿@using BookStore.Models;
@model BookStoreConnection.HOADON
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type='text/javascript'>

    (function () {
        if (window.localStorage) {
            if (!localStorage.getItem('firstLoad')) {
                localStorage['firstLoad'] = true;
                window.location.reload();
            }
        }
    })();

</script>
<section id="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table">
                        <form action="">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Hình ảnh</th>
                                            <th>Tên sách</th>
                                            <th>Tác giả</th>
                                            <th>Giá</th>
                                            <th>Số lượng</th>
                                            <th>Thành tiền</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    @{
                                        double total = 0;
                                        List<CartItem> listCart = (List<CartItem>)Session["ShoppingCart"];
                                    }
                                    <tbody>
                                        @if (listCart != null)
                                        {
                                            foreach (var item in (List<CartItem>)Session["ShoppingCart"])
                                            {
                                                <tr>
                                                    <td>
                                                        <img src="~/img/@item.productOrder.HinhAnh" height="100px" width="100px">
                                                    </td>
                                                    <td>
                                                        <a href="../../SANPHAM/Details/@item.productOrder.MaSP">@item.productOrder.TenSP </a>
                                                    <td>
                                                        @item.productOrder.TacGia
                                                    </td>
                                                    <td>
                                                       @string.Format("{0:$#,###.##}", @item.productOrder.Gia)
                                                    </td>
                                                    <td>
                                                        <input type="text" value="@item.Quality" id="Quality" class="text-center" disabled/> &nbsp;
                                                        <button type="submit" value="Update" onclick="AddToCart('@item.productOrder.MaSP')" class="fa fa-arrow-up btn btn-primary" id="Update" />
                                                        <button type="submit" value="Update" onclick="Remove('@item.productOrder.MaSP')" class="fa fa-arrow-down btn btn-success" id="Update" />
                                                    </td>
                                                    <td>
                                                        @{
                                                            double value = (double)item.productOrder.Gia * item.Quality;
                                                            total += value;
                                                        }
                                                        @string.Format("{0:$#,###.##}", @value)
                                                    </td>
                                                    <td>
                                                        <button type="submit" value="Update" onclick="Delete('@item.productOrder.MaSP')" class="fa fa-trash-o btn btn-danger" id="Update" />
                                                    </td>
                                                </tr>

                                            }
                                        }
                                        <tr>
                                            <td colspan="7" class="aa-cart-view-bottom">
                                                <div class="aa-cart-coupon">
                                                    <input class="aa-cart-view-btn" type="submit" onclick="EmptyAll()" value="Xóa hết">
                                                </div>
                                                <input class="aa-cart-view-btn" type="submit" onclick="history.go(-1);return true;" value="Mua tiếp">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                        <!-- Cart Total view -->
                        <div class="cart-view-total">
                            <h4>Tổng tiền: <strong>@string.Format("{0:$#,###.##}", @total)</strong>đ</h4>
                            @if(total>0)
                            {
                            <a href="Checkout" class="aa-cart-view-btn">THANH TOÁN</a>
                            }
                            else
                            {
                                <a href="#" onclick="history.go(-1);return true;" class="aa-cart-view-btn">BẠN CHƯA MUA GÌ CẢ!</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>