﻿@model BookStoreConnection.HOADON

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>HOADON</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="control-label col-md-2"><b>@Html.DisplayName("Mã hóa đơn")</b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaHD)
                @Html.ValidationMessageFor(model => model.MaHD)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>@Html.DisplayName("Mã User")</b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaUser)
                @Html.ValidationMessageFor(model => model.MaUser)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>@Html.DisplayName("Tên người mua")</b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenNguoiMua)
                @Html.ValidationMessageFor(model => model.TenNguoiMua)
            </div>
        </div>

        

        <div class="form-group">
            @Html.LabelFor(model => model.DiaChiGiaoHang, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiaChiGiaoHang)
                @Html.ValidationMessageFor(model => model.DiaChiGiaoHang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SDT, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDT)
                @Html.ValidationMessageFor(model => model.SDT)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GhiChu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GhiChu)
                @Html.ValidationMessageFor(model => model.GhiChu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TongTien, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TongTien)
                @Html.ValidationMessageFor(model => model.TongTien)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayMua, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayMua)
                @Html.ValidationMessageFor(model => model.NgayMua)
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"><b>@Html.DisplayName("Tình trạng hóa đơn")</b></div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TinhTrangHD, new List<SelectListItem>
                 { new SelectListItem { Text = "Chưa xác nhận", Value = "Chưa xác nhận", Selected=true},
                   new SelectListItem { Text = "Đã xác nhận", Value = "Đã xác nhận"},
                   new SelectListItem { Text = "Chưa giao", Value = "Chưa giao"},
                   new SelectListItem { Text = "Đang giao", Value = "Đang giao"},
                   new SelectListItem { Text = "Đã giao", Value = "Đã giao"},
                   new SelectListItem { Text = "Hủy đơn hàng", Value = "Hủy đơn hàng"},

                   })
                @Html.ValidationMessageFor(model => model.TinhTrangHD)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
