﻿@model IEnumerable<BookStoreConnection.HOADON>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>DANH SÁCH ĐƠN HÀNG</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Mã hóa đơn")
        </th>
        <th>
            @Html.DisplayName("Mã User")
        </th>
        <th>
            @Html.DisplayName("Tên khách hàng")
        </th>
       
        <th>
           @Html.DisplayName("Địa chỉ giao hàng")
        </th>
        <th>
           @Html.DisplayName("SĐT")
        </th>
        <th>
            @Html.DisplayName("Ghi chú")
        </th>
        <th>
            @Html.DisplayName("Tổng tiền")
        </th>
        <th>
            @Html.DisplayName("Ngày mua")
        </th>
        <th>
            @Html.DisplayName("Tình trạng hóa đơn")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaHD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenNguoiMua)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.DiaChiGiaoHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GhiChu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayMua)
        </td>
        <td>
            <a href="/Admin/AdminHOADON/Edit/@item.MaHD" class="btn btn-success fa fa-recycle fa-2x"> @Html.DisplayFor(modelItem => item.TinhTrangHD)</a>
            
        </td>
        <td>
            <a href="/Admin/AdminHOADON/Delete/@item.MaHD" class="btn btn-danger fa fa-trash fa-2x"> Xóa</a>
        </td>
    </tr>
}

</table>
