﻿@model BookStoreConnection.CTYPHATHANH

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h2 style="text-align:center;color:red; font-weight:bold">SỬA CÔNG TY PHÁT HÀNH</h2>
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="control-label col-md-2"><b>@Html.DisplayName("Mã Công ty phát hành")</b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaCTPH)
                @Html.ValidationMessageFor(model => model.MaCTPH)
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"><b>@Html.DisplayName("Tên Công ty phát hành") </b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenCTPH)
                @Html.ValidationMessageFor(model => model.TenCTPH)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>@Html.DisplayName("Mã tình trạng") </b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaTinhTrangCTPH)
                @Html.ValidationMessageFor(model => model.MaTinhTrangCTPH)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
