﻿@model IEnumerable<BookStoreConnection.CTYPHATHANH>

<p>
    @Html.ActionLink("Thêm mới Công ty phát hành", "Create")
</p>
<h2 style="text-align:center;color:red; font-weight:bold">CÔNG TY PHÁT HÀNH</h2>
<table class="table">
    <tr style="background-color: #5BC0DE; color:white">
        <th>
            @Html.DisplayName("Mã Công ty phát hành")
        </th>
        <th>
            @Html.DisplayName("Tên Công ty phát hành")
        </th>
        <th>
            @Html.DisplayName("Mã tình trạng")
        </th>
        <th>Thao tác</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaCTPH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenCTPH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaTinhTrangCTPH)
        </td>
        <td>
            @Html.ActionLink("Cập nhật", "Edit", new { id = item.MaCTPH }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.MaCTPH })
        </td>
    </tr>
}

</table>
