﻿@model IEnumerable<BookStoreConnection.ViewSANPHAM>

@{
    ViewBag.Title = "Top10SP";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2 style="text-align:center;color:red; font-weight:bold">TOP 10 SÁCH BÁN CHẠY NHẤT</h2>
<table class="table">
    <tr style="background-color: #5BC0DE; color:white">
        <th>
            @Html.DisplayName("Mã sách")
        </th>
        <th>
            @Html.DisplayName("Tên sách")
        </th>
        <th>
            @Html.DisplayName("Tác giả")
        </th>
        <th>
            @Html.DisplayName("Kích thước")
        </th>
        <th>
            @Html.DisplayName("Trọng lượng")
        </th>
        <th>
            @Html.DisplayName("Ngày phát hành")
        </th>
        <th>
            @Html.DisplayName("Giá")
        </th>
        <th>
            @Html.DisplayName("Hình ảnh")
        </th>
        <th>
            @Html.DisplayName("Mô tả")
        </th>
        <th>
            @Html.DisplayName("Lượt xem")
        </th>
        <th>
            @Html.DisplayName("Số lượng nhập")
        </th>
        <th>
            @Html.DisplayName("Số lượng đã bán")
        </th>
        <th>
            @Html.DisplayName("Công ty phát hành")
        </th>
        <th>
            @Html.DisplayName("Nhà xuất bản")
        </th>
        <th>
            @Html.DisplayName("Thể loại")
        </th>
        <th>
            @Html.DisplayName("Tình trạng")
        </th>
    </tr>
@foreach (var item in Model) {
    <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSP)
            </td>            
            <td style="font-weight:bold">
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TacGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KichThuoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrongLuong) gram
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayPhatHanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                <img src="~/img/@item.HinhAnh" height="100px" width="100px">
            </td>
            <td>
                @Html.Raw(HttpUtility.HtmlDecode(item.MoTa))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LuotXem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SLNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SLBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenCTPH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNXB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenTheLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenTinhTrang)
        </tr>
}

</table>
