﻿@model BookStoreConnection.THELOAI

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2 style="text-align:center;color:red; font-weight:bold">THÊM THỂ LOẠI</h2>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="control-label col-md-2"><b>@Html.DisplayName("Tên thể loại") </b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenTheLoai)
                @Html.ValidationMessageFor(model => model.TenTheLoai)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở lại", "Index")
</div>
