﻿@model BookStoreConnection.THELOAI
<div>
    <h2 style="text-align:center;color:red; font-weight:bold">Bạn có chắc muốn xóa thể loại này?</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Mã thể loại")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaTheLoai)
        </dd>
        <dt>
            @Html.DisplayName("Tên thể loại")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTheLoai)
        </dd>
    </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            
            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-danger" /> <br />
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
</div>
