﻿@model IEnumerable<BookStoreConnection.THELOAI>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2 style="text-align:center;color:red; font-weight:bold">THỂ LOẠI</h2>
<p>
    @Html.ActionLink("Thêm thể loại mới", "Create")
</p>
<table class="table">
    <tr style="background-color: #5BC0DE; color:white">
        <th>
            @Html.DisplayName("Mã thể loại")
        </th>
        <th>
            @Html.DisplayName("Tên thể loại")
        </th>
        <th>Thao tác</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaTheLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenTheLoai)
            </td>
            <td>
                @Html.ActionLink("Cập nhật", "Edit", new { id = item.MaTheLoai }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.MaTheLoai })
            </td>
        </tr>
    }

</table>
