﻿@model BookStoreConnection.ViewSANPHAM
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div>
    <h2 style="text-align:center;color:red; font-weight:bold">@Html.DisplayFor(model => model.TenSP)</h2>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Mã sản phẩm")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSP)
        </dd>

        <dt>
            @Html.DisplayName("Tên sách")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayName("Tác giả")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TacGia)
        </dd>

        <dt>
            @Html.DisplayName("Kích thước")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KichThuoc)
        </dd>

        <dt>
            @Html.DisplayName("Trọng lượng")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrongLuong)
        </dd>

        <dt>
            @Html.DisplayName("Ngày phát hành")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayPhatHanh)
        </dd>

        <dt>
            @Html.DisplayName("Giá")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayName("Hình ảnh")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

        <dt>
            @Html.DisplayName("Mô tả")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayName("Lượt xem")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuotXem)
        </dd>

        <dt>
            @Html.DisplayName("Số lượng nhập")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLNhap)
        </dd>

        <dt>
            @Html.DisplayName("Số lượng bán")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLBan)
        </dd>

        

        <dt>
            @Html.DisplayName("Công ty phát hành")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenCTPH)
        </dd>

        <dt>
            @Html.DisplayName("Nhà xuất bản")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNXB)
        </dd>

        <dt>
            @Html.DisplayName("Thể loại")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTheLoai)
        </dd>

        <dt>
            @Html.DisplayName("Tình trạng")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTinhTrang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new {id = Model.MaSP })
</p>
