﻿@model BookStoreConnection.ViewSANPHAM

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2 style="text-align:center;color:red; font-weight:bold">SỬA SẢN PHẨM</h2>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="control-label col-md-2"><b>@Html.DisplayName("Mã sản phẩm")</b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaSP)
                @Html.ValidationMessageFor(model => model.MaSP)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>@Html.DisplayName("Tên sách")</b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenSP)
                @Html.ValidationMessageFor(model => model.TenSP)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>@Html.DisplayName("Tác giả")</b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TacGia)
                @Html.ValidationMessageFor(model => model.TacGia)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>@Html.DisplayName("Kích thước")</b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.KichThuoc)
                @Html.ValidationMessageFor(model => model.KichThuoc)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>@Html.DisplayName("Trọng lượng")</b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrongLuong)
                @Html.ValidationMessageFor(model => model.TrongLuong)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>@Html.DisplayName("Ngày phát hành")</b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayPhatHanh)
                @Html.ValidationMessageFor(model => model.NgayPhatHanh)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>@Html.DisplayName("Giá")</b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gia)
                @Html.ValidationMessageFor(model => model.Gia)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>@Html.DisplayName("Hình ảnh")</b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.HinhAnh)
                @Html.ValidationMessageFor(model => model.HinhAnh)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>@Html.DisplayName("Mô tả")</b></div>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.MoTa, new { AllowHtmlAttribute = new { @class = "form-control" }, id = "txtMoTa" })
                @Html.ValidationMessageFor(model => model.MoTa)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>@Html.DisplayName("Lượt xem")</b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.LuotXem)
                @Html.ValidationMessageFor(model => model.LuotXem)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>@Html.DisplayName("Số lượng nhập")</b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SLNhap)
                @Html.ValidationMessageFor(model => model.SLNhap)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>@Html.DisplayName("Số lượng bán")</b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SLBan)
                @Html.ValidationMessageFor(model => model.SLBan)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>@Html.DisplayName("Thể loại")</b></div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MaTheLoai, new List<SelectListItem>
                 { new SelectListItem { Text = "Sách Giáo Khoa", Value = "1", Selected=true},
                   new SelectListItem { Text = "Tiểu Thuyết", Value = "2"},
                   new SelectListItem { Text = "Truyện Tranh", Value = "3"},
                   new SelectListItem { Text = "Kinh Tế", Value = "4"},
                   new SelectListItem { Text = "Văn Học Trong Nước", Value = "5"},
                   new SelectListItem { Text = "Văn Học Nước Ngoài", Value = "6"},
                   new SelectListItem { Text = "Sách Thiếu Nhi", Value = "7"},
                   new SelectListItem { Text = "Kỹ Năng Sống", Value = "8"},
                   
                   })
               
                @Html.ValidationMessageFor(model => model.MaTheLoai)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>@Html.DisplayName("Công ty phát hành")</b></div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MaCTPH, new List<SelectListItem>
                 { new SelectListItem { Text = "NXB Kim Đồng", Value = "1", Selected=true},
                   new SelectListItem { Text = "Đông Á DC", Value = "2"},
                   new SelectListItem { Text = "NXB Trẻ", Value = "3"},
                   new SelectListItem { Text = "Alpha Books", Value = "4"},
                   new SelectListItem { Text = "Phương Nam", Value = "5"},
                   new SelectListItem { Text = "Văn Lang", Value = "6"},
                   new SelectListItem { Text = "Nhân Văn", Value = "7"},
                   new SelectListItem { Text = "Bách Việt", Value = "8"},
                   new SelectListItem { Text = "Đinh Tị", Value = "9"},
                   new SelectListItem { Text = "First News", Value = "10"},
                   new SelectListItem { Text = "Nhã Nam", Value = "11"},
                   new SelectListItem { Text = "TGM Books", Value = "12"},
                   new SelectListItem { Text = "Văn Việt", Value = "13"},
                   new SelectListItem { Text = "NXB Giáo Dục", Value = "14"},
                   new SelectListItem { Text = "NXB Văn Học", Value = "15"},
                   })
        
                @Html.ValidationMessageFor(model => model.MaCTPH)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>@Html.DisplayName("Nhà xuất bản")</b></div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MaNhaXuatBan, new List<SelectListItem>
                 { new SelectListItem { Text = "Alpha Books", Value = "1", Selected=true},
                   new SelectListItem { Text = "Kinh Tế", Value = "2"},
                   new SelectListItem { Text = "NXB Trẻ", Value = "3"},
                   new SelectListItem { Text = "Trí Việt", Value = "4"},
                   new SelectListItem { Text = "Thái Hà", Value = "5"},
                   new SelectListItem { Text = "Văn Lang", Value = "6"},
                   new SelectListItem { Text = "Fahasa", Value = "7"},
                   new SelectListItem { Text = "NXB Kim Đồng", Value = "8"},
                   new SelectListItem { Text = "NXB Giáo Dục", Value = "9"},
                   new SelectListItem { Text = "NXB Văn Học", Value = "10"},
                   new SelectListItem { Text = "Nhã Nam", Value = "11"},
                   new SelectListItem { Text = "NXB Hội Nhà Văn", Value = "12"},
                   })
                
                @Html.ValidationMessageFor(model => model.MaNhaXuatBan)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>@Html.DisplayName("Tình trạng sản phẩm")</b></div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MaTTSP, new List<SelectListItem>
                 { new SelectListItem { Text = "Còn hàng", Value = "1", Selected=true},
                   new SelectListItem { Text = "Hết hàng", Value = "2"},
                   new SelectListItem { Text = "Ngừng kinh doanh", Value = "3"},
                   })
                
                @Html.ValidationMessageFor(model => model.MaTTSP)
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<script>
    var editor = CKEDITOR.replace('txtMoTa', { customConfig: '~/Areas/Admin/js/plugins/ckeditor/config.js', htmlEncodeOutput: true, allowedContent: true })
</script>