﻿@model IEnumerable<BookStoreConnection.THELOAI>
@{
    Layout = null;
}
    @foreach (var THELOAI in Model)
    {
        <li>@Html.ActionLink(THELOAI.TenTheLoai, "Index", "THELOAI", new { id = THELOAI.MaTheLoai }, null)</li>
    }