﻿@model IEnumerable<BookStoreConnection.NXB>
@{
    Layout = null;
}

    @foreach (var NXB in Model)
    {
        <li>@Html.ActionLink(NXB.TenNXB, "Index", "NXB", new { id = NXB.MaNXB }, null)</li>
    }