﻿@using PagedList.Mvc;
@using PagedList;
@model IPagedList<BookStoreConnection.ViewSANPHAM>

@{
    ViewBag.Title = "KetQuaTimKiem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div align="center"><h2>Kết quả tìm kiếm: @ViewBag.ThongBao</h2></div>

@if(ViewBag.kq !=0)
{
    
<!-- product category -->
<section id="aa-product-category">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-8 col-md-push-1">
                <div class="aa-product-catg-content">
                    <div class="aa-product-catg-head">
                        <div class="aa-product-catg-head-left">
                            <form action="" class="aa-sort-form">
                                <label for="">Sắp xếp</label>
                                <select name="">
                                    <option value="1" selected="">Mặc định</option>
                                    <option value="2">Theo tên</option>
                                    <option value="3">Giá cao đến thấp</option>
                                    <option value="4">Giá thấp đến cao</option>
                                </select>
                            </form>
                        </div>
                        <div class="aa-product-catg-head-right">
                            <a id="grid-catg" href="#"><span class="fa fa-th"></span></a>
                            <a id="list-catg" href="#"><span class="fa fa-list"></span></a>
                        </div>
                    </div>
                    <div class="aa-product-catg-body">
                        <ul class="aa-product-catg">
                            <!-- start single product item -->
                            @foreach (var item in Model)
                            {

                                <li>
                                    <figure>
                                        <a class="aa-product-img" href="#"><img src="~/img/@item.HinhAnh" height="300" width="250"></a>
                                        <a class="aa-add-card-btn" href="#" onclick="AddToCart('@item.MaSP'); location.href='../../Cart/ShoppingCart';"><span class=" fa fa-shopping-cart"></span>THÊM VÀO GIỎ HÀNG</a>
                                        <figcaption>
                                            <h4 class="aa-product-title"><a href="#">@Html.ActionLink(item.TenSP, "../SANPHAM/Details", new { id = item.MaSP })</a></h4>
                                            <span style="color:black">Giá: </span><span class="aa-product-price">@string.Format("{0:$#,###.##}", @item.Gia)</span><span style="color:black">  Giá gốc: </span><span class="aa-product-price"><del>@string.Format("{0:$#,###.##}", (double)item.Gia * 1.5)</del></span>
                                        </figcaption>
                                    </figure>
                                    <div class="aa-product-hvr-content">
                                        <a href="" data-toggle="tooltip" data-placement="top" title="Thích"><span class="fa fa-heart-o"></span></a>
                                        <a href="" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
                                        <a href="" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal"><span class="fa fa-search"></span></a>
                                    </div>
                                    <!-- product badge -->
                                    <span class="aa-badge aa-sale">Giảm giá!</span>
                                </li>
                            }

                        </ul>
                       
                    </div>
                </div>
                <div align="center">
                    <p>
                        <ul class="pagination pagination-centered">
                            <li>
                                @Html.ActionLink(" << Trang Đầu", "KetQuaTimKiem", new { page = 1, @TuKhoa = ViewBag.tk, @timtheo = ViewBag.tt })
                            </li>
                                    @for (int i = 1; i <= Model.PageCount; i++)
                                    {
                                        <li> <a href="?page=@i&TuKhoa=@ViewBag.tk&timtheo=@ViewBag.tt">  @i</a></li>

                                    }
                            
                            <li>
                                @Html.ActionLink(" >> Trang cuối", "KetQuaTimKiem", new { page = Model.PageCount, @TuKhoa = ViewBag.tk, @timtheo = ViewBag.tt })
                            </li>


                        </ul>
                    </p>
                </div>

            </div>
           

        </div>
    </div>
</section>
}
