﻿@using BookStore.Models;
@using BookStoreBus.Bus;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTCbook | Trang chủ</title>

    <!-- Font awesome -->
    <link href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <!-- SmartMenus jQuery Bootstrap Addon CSS -->
    <link href="~/css/jquery.smartmenus.bootstrap.css" rel="stylesheet">
    <!-- Product view slider -->
    <link rel="stylesheet" type="text/css" href="~/css/jquery.simpleLens.css">
    <!-- slick slider -->
    <link rel="stylesheet" type="text/css" href="~/css/slick.css">
    <!-- price picker slider -->
    <link rel="stylesheet" type="text/css" href="~/css/nouislider.css">
    <!-- Theme color -->
    <link id="switcher" href="~/css/theme-color/lite-blue-theme.css" rel="stylesheet">
    <!-- <link id="switcher" href="~/css/theme-color/bridge-theme.css" rel="stylesheet"> -->
    <!-- Top Slider CSS -->
    <link href="~/css/sequence-theme.modern-slide-in.css" rel="stylesheet" media="all">

    <!-- Main style sheet -->
    <link href="~/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://www.bootply.com/plugins/bootstrap-select.min.css">

    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <!-- css cua jquery search autocomplete -->
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <style type="text/css">
        .ddl-title {
            background-color: #5bc0de !important;
            color: #fff !important;
            font-style: italic;
            font-size: 80%;
        }

        .ddl-select.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
    </style>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-79655476-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
    <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#">TOP</a>
    <!-- END SCROLL TOP BUTTON -->
    <!-- Start header section -->
    <header id="aa-header">
        <!-- start header top  -->
        <div class="aa-header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-header-top-area">
                            <!-- start header top left -->
                            <div class="aa-header-top-left">
                                <!-- start cellphone -->
                                <div class="cellphone hidden-xs">
                                    <p style="color:red">HOTLINE: <span class="fa fa-phone" style="color:blue"></span><a href="tel:18001060" style="color:black">18001060</a></p>
                                </div>
                                <!-- / cellphone -->
                            </div>
                            <!-- / header top left -->
                            <div class="aa-header-top-right">
                                <ul class="aa-head-top-nav-right">
                                    @if (Request.IsAuthenticated)
                                    {
                                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                        { 
                                            @Html.AntiForgeryToken()
                                            var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
                                            var currentUser = manager.FindById(User.Identity.GetUserId());
                                            <li class ="hidden-xs"><i class="fa fa-hand-peace-o" aria-hidden="true" style="color:blue"></i> Chào <b>@currentUser.LastName</b></li>
                                            if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Employee"))
                                            {
                                                <li class ="hidden-xs"><i class="fa fa-shield" aria-hidden="true" style="color:red"></i>@Html.ActionLink("Administrator", "Admin", "Admin", routeValues: null, htmlAttributes: new { title = "Tài khoản" })</li>
                                            }
                                            <li class ="hidden-xs"><i class="fa fa-wrench" aria-hidden="true" style="color:blue"></i>@Html.ActionLink("Tài khoản", "AccountSettings", "Account", routeValues: null, htmlAttributes: new { title = "Tài khoản" })</li>
                                            <li class="hidden-xs"><i class="fa fa-key" aria-hidden="true" style="color:blue"></i>@Html.ActionLink("Đổi mật khẩu", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Đổi mật khẩu" })</li>                                         
                                            <li class="hidden-xs"><i class="fa fa-shopping-cart" aria-hidden="true" style="color:blue"></i><a href="../../Cart/ShoppingCart">Giỏ hàng</a></li>
                                            <li class ="hidden-xs"><i class="fa fa-history" aria-hidden="true" style="color:silver"></i><a href="../../HOADON/Index/@currentUser.Id">Lịch sử mua hàng</a></li>
                                            <li class="hidden-xs"><span style="color:red" class="glyphicon glyphicon-off"></span><a href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a></li>
                                        }
                                    }
                                    else
                                    {
                                        <li class="hidden-xs"><i class="fa fa-hand-peace-o" aria-hidden="true" style="color:blue"></i> Chào <b>Khách!</b></li>
                                        <li class="hidden-xs"><i class="fa fa-street-view" aria-hidden="true" style="color:blue"></i>@Html.ActionLink("Đăng ký", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                        <li class="hidden-xs"><i class="fa fa-sign-in" aria-hidden="true" style="color:blue"></i>@Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                                        <li class="hidden-xs"><i class="fa fa-shopping-cart" aria-hidden="true" style="color:blue"></i><a href="../../Cart/ShoppingCart">Giỏ hàng</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / header top  -->
        <!-- start header bottom  -->
        <div class="aa-header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-header-bottom-area">
                            <!-- logo  -->
                            <div class="aa-logo">
                                <!-- Text based logo -->
                                <a href="~/Home">
                                    <span class="fa fa-shopping-cart"></span>
                                    <p> HTC <strong>book</strong> <span>Kho sách lớn nhất việt nam</span></p>
                                </a>
                            </div>
                            <!-- / logo  -->
                            <!-- cart box -->
                            <div class="aa-cartbox">
                                <a class="aa-cart-link" href="../../Cart/ShoppingCart">
                                    <span class="fa fa-shopping-basket"></span>
                                    <span class="aa-cart-title">GIỎ HÀNG</span>
                                </a>
                            </div>
                            <!-- / cart box -->
                            <!-- search box -->
                                    @using (Html.BeginForm("KetQuaTimKiem", "TimKiem", FormMethod.Post))
                                    {
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-horizontal">
                                                    <div class="input-group">
                                                        <div class="ddl-select input-group-btn">
                                                            <select id="timtheo" name="timtheo" class="selectpicker form-control" data-style="btn-primary">
                                                                <option value="1" data-hidden="true" class="ddl-title">Tiêu chí</option>
                                                                <option value="1" >Tên sách</option>
                                                                <option value="2">Thể loại</option>
                                                                <option value="3">NXB</option>
                                                                <option value="4">Tác giả</option>
                                                            </select>
                                                        </div>
                                                        <input id="txttimkiem" name="txttimkiem" type="text" class="form-control" placeholder="Bạn muốn tìm gì" aria-describedby="ddlsearch">
                                                        <span class="input-group-btn">
                                                            <button id="btn-search" class="btn btn-info" type="submit"><i class="fa fa-search fa-fw"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                <!-- / search box -->
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / header bottom  -->
    </header>
    <!-- / header section -->
    <!-- menu -->
    <section id="menu">
        <div class="container">
            <div class="menu-area">
                <!-- Navbar -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-collapse collapse">
                        <!-- Left nav -->
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                            <li>
                                <a href="#">Nhà xuất bản <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    @Html.Action("NXB", "Menu")
                                </ul>
                            </li>
                            <li>
                                <a href="#">Thể loại <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    @Html.Action("Main", "Menu")
                                </ul>
                            </li>
                            <li>
                                <a href="#">Công ty phát hành <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    @Html.Action("CTPH", "Menu")
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Sách", "Index", "SANPHAM")</li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
    </section>
    <!-- / menu -->
    <!-- Products section -->
    <section id="aa-product">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>
    <!-- / Products section -->
    <!-- Support section -->
    <section id="aa-support">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-support-area">
                        <!-- single support -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="aa-support-single">
                                <span class="fa fa-truck"></span>
                                <h4>MIỄN PHÍ GIAO HÀNG</h4>
                                <p>Giao hàng miễn phí toàn quốc</p>
                            </div>
                        </div>
                        <!-- single support -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="aa-support-single">
                                <span class="fa fa-clock-o"></span>
                                <h4>30 NGÀY HOÀN TIỀN</h4>
                                <p>Hoàn tiền nếu tìm được nơi khác giá rẻ hơn (*)</p>
                            </div>
                        </div>
                        <!-- single support -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="aa-support-single">
                                <span class="fa fa-phone"></span>
                                <h4>HỖ TRỢ 24/7</h4>
                                <p>Tổng đài hỗ trợ 24/7 kể cả ngày lễ</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / Support section -->
    <!-- footer -->
    <footer id="aa-footer">
        <!-- footer bottom -->
        <div class="aa-footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-footer-top-area">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <div class="aa-footer-widget">
                                        <h3>HỖ TRỢ KHÁCH HÀNG</h3>
                                        <ul class="aa-footer-nav">
                                            <li><a href="#">Chính sách đổi trả</a></li>
                                            <li><a href="#">Hướng dẫn mua online</a></li>
                                            <li><a href="#">Giao hàng & thanh toán</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="aa-footer-widget">
                                        <div class="aa-footer-widget">
                                            <h3>HTCbook</h3>
                                            <ul class="aa-footer-nav">
                                                <li><a href="#">Giới thiệu công ty</a></li>
                                                <li><a href="#">Tuyển dụng</a></li>
                                                <li><a href="#">Góp ý, khiếu nại</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="aa-footer-widget">
                                        <div class="aa-footer-widget">
                                            <h3>HỢP TÁC & LIÊN KẾT</h3>
                                            <ul class="aa-footer-nav">
                                                <li><a href="#">Bán hàng cùng HTCbook</a></li>
                                                <li><a href="#">Ưu đãi doanh nghiệp</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="aa-footer-widget">
                                        <div class="aa-footer-widget">
                                            <h3>Liên hệ</h3>
                                            <address>
                                                <p>432/11 Dương Bá Trạc, P.1, Q.8</p>
                                                <p><span class="fa fa-phone"></span>08 888 777 666</p>
                                                <p><span class="fa fa-envelope"></span>support@htcbook.com</p>
                                            </address>
                                            <div class="aa-footer-social">
                                                <a href="#"><span class="fa fa-facebook"></span></a>
                                                <a href="#"><span class="fa fa-twitter"></span></a>
                                                <a href="#"><span class="fa fa-google-plus"></span></a>
                                                <a href="#"><span class="fa fa-youtube"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom -->
    </footer>
    <!-- / footer -->
    <!--library tu tao -->
    <script src="~/js/controller/baseController.js"></script>
    <!--library khung search -->
    <script src="~/js/jquery-1.10.2.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/js/bootstrap.js"></script>
    <!-- SmartMenus jQuery plugin -->
    <script type="text/javascript" src="~/js/jquery.smartmenus.js"></script>
    <!-- SmartMenus jQuery Bootstrap Addon -->
    <script type="text/javascript" src="~/js/jquery.smartmenus.bootstrap.js"></script>
    <!-- To Slider JS -->
    <script src="~/js/sequence.js"></script>
    <script src="~/js/sequence-theme.modern-slide-in.js"></script>
    <!-- Product view slider -->
    <script type="text/javascript" src="~/js/jquery.simpleGallery.js"></script>
    <script type="text/javascript" src="~/js/jquery.simpleLens.js"></script>
    <!-- slick slider -->
    <script type="text/javascript" src="~/js/slick.js"></script>
    <!-- Price picker slider -->
    <script type="text/javascript" src="~/js/nouislider.js"></script>
    <!-- Custom js -->
    <script src="~/js/custom.js"></script>
    <!-- Ckeditor js -->
    <script src="~/Areas/Admin/js/plugins/ckeditor/ckeditor.js"></script>
    <script src="http://www.bootply.com/plugins/bootstrap-select.min.js"></script>
    

    @{
        if (Session["ShoppingCart"] != null)
        {
            int cartcount = 0;
            List<CartItem> ls = (List<CartItem>)Session["ShoppingCart"];
            foreach (CartItem item in ls)
            {
                cartcount += item.Quality;
            }
            ViewBag.count = cartcount;
        }
    }
    <script>
        $(document).ready(function () {
            $('.selectpicker').selectpicker({
                width: '100px'
            });
        });

        function Remove(MaSP) {
            $.ajax({
                type: 'POST',
                url: '/Cart/Remove',
                data: { id: MaSP },
                success: function (data) {
                    $("#Cart_Amount").html(data.ItemAmount);
                }
            });
        }

        function AddToCart(MaSP) {
            $.ajax({
                type: 'POST',
                url: '/Cart/AddToCart',
                data: { id: MaSP },
                success: function (data) {
                    $("#Cart_Amount").html(data.ItemAmount);
                }
            });
        }

        function Delete(MaSP) {
            $.ajax({
                type: 'POST',
                url: '/Cart/Delete',
                data: { id: MaSP },
                success: function (data) {
                    $("#Cart_Amount").html(data.ItemAmount);
                }
            });
        }

        function Update(MaSP, NewQuality) {
            $.ajax({
                type: 'POST',
                url: '/Cart/Update',
                data: { id: MaSP, Quality: NewQuality },
                success: function (data) {
                    $("#Cart_Amount").html(data.ItemAmount);
                }
            });
        }

        function EmptyAll() {
            $.ajax({
                type: 'POST',
                url: '/Cart/EmptyAll',
            });
        }

        function Checkout(Total) {
            $.ajax({
                url: '/Cart/Checkout',
                data: { total: Total },
                success: function (data) {
                    $("#Cart_Amount").html(data.ItemAmount);
                }
            });
        }
    </script>
</body>
</html>