﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2 class="text-danger" style="align-content:center">Vui lòng đăng nhập để thanh toán</h2>
<meta http-equiv="refresh" content="0;URL='http://htcbook.somee.com/Account/Login'" />