﻿@model BookStoreConnection.NXB

<h2 style="text-align:center;color:red; font-weight:bold">Bạn có chắc muốn xóa NXB này?</h2>
<div >

    <hr />

    <dl class="dl-horizontal" >
        <dt>
           Mã NXB: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNXB)
        </dd>



        <dt>
            Tên NXB
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNXB)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

         <div class="form-actions no-color" >
                <input type="submit" value="Xóa" class="btn btn-danger" /><br />
                @Html.ActionLink("Back to List", "Index")
            </div>
    }
</div>
