﻿@model IEnumerable<BookStoreConnection.NXB>


<table class="table">
    <tr>
        <th>
            Mã NXB
        </th>

        <th>
            Tên NXB
        </th>
        <th>Tùy chọn</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaNXB)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.TenNXB)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new {  id=item.MaNXB }) |
            @Html.ActionLink("Xóa", "Delete", new {  id=item.MaNXB  })
        </td>
    </tr>
}

</table>
